* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    direction: rtl;
}

body {
    text-align: right;
}

#img1 {
    width: 93px;
}
.btn:not(:disabled):not(.disabled) {
    padding: 6px;
    cursor: pointer;
    margin: 10px;
    border-radius: 50px;
}
.inner-blogs {
    margin-top: 70px
}
.blogs-section-title {
    margin-bottom: 40px;
}
.text-center {
    text-align: center !important;
}
.blogs-section-title h2 {
    color: blue;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 6px;
    margin-top: 0;
}
element.style {
    visibility: visible;
}

.blogs-section-title p {
    color: #000;
    font-size: 13px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 0;
}
.container {
    width: 1200px;
    max-width: 100%;
    padding: 0 20px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.big-blog-item {
    margin-bottom: 30px;
    position: relative;
    height: 350px;
    border-radius: 15px;
    overflow-y: hidden;
    box-shadow: 0 7px 15px rgb(69 79 88 / 7%);
        height: 322px;
}
.big-blog-item .blog-img {
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.big-blog-item .blog-item-link {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1.7;
    box-sizing: border-box;
}
.big-blog-item .blog-content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px;
}
.big-blog-item .blog-content .category {
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
}
.big-blog-item .blog-content h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 12px;
    margin-bottom: 15px;
    color: #ffffff;
}
.big-blog-item .blog-content .author {
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 77px;
}
object a{
    color: #ffffff;
}
.other-blogs-wrap {
    padding: 40px 0;
    background: #F2F5F8;
}
.container {
    width: 1200px;
    max-width: 100%;
    padding: 0 20px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.blog-item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 15px rgb(69 79 88 / 5%);
    margin-bottom: 30px;
}
.blog-item .blog-img {
    height: auto;
    overflow: hidden;
    position: relative;
}
.blog-item .blog-content {
    position: relative;
    padding: 20px;
    height: 140px;
    background: #ffffff;
}
.blog-item .blog-content .author-img {
    position: absolute;
    right: 20px;
    top: -17px;
    border: 2px solid #fff;
    transition: all 0.3s;
    border-radius: 100%;
}
.blog-item .blog-content .author-img img {
    width: 30px;
    height: 30px px;
    border-radius: 100%;
}
.blog-item .blog-content .blog-meta .author {
    color: #8A8E98;
}
.blog-meta {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 5px;
}
.blog-item .blog-content .blog-meta .category {
    color: #1A43A8;
    margin-right: 176px;
}
.blog-item .blog-content h3 a {
    color: #393D48;
    transition: all 0.3s;
}
.blog-item .blog-content h3 a {
    color: #393D48;
    transition: all 0.3s;
}
a {
    text-decoration: none !important;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.blog-item .blog-img img {
    width: 100%;
    height: 100%;
}
.custom-pagination {
    margin-top: 30px;
}
.custom-pagination a {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    vertical-align: middle;
}
.custom-pagination a {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    vertical-align: middle;
}

.pagination-ul {
 display: inline-block;
  border-radius: 50px;
  background: #F2F5F8;
  padding: 0 15px;
  margin: 0 8px;
  vertical-align: middle;
}
.pagination-ul li.active a {
color: #1A43A8;
}
.pagination-ul li {
display: inline-block;
}
.pagination-ul li a {
color: #393D48;
transition: all 0.5s;
height: 50px;
line-height: 50px;
padding: 0 8px;
font-size: 14px;
font-weight: 700;
}

footer {
    padding: 70px 0 60px;
    margin-top: 40px;
}
footer .container {
    position: relative;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.footer-logo-wrap {
    margin-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
.footer-logo-wrap img {
    margin-left: 50px;
}
.social-ul {
    display: flex;
    align-items: center;
    margin-top: 2px;
}
.social-ul li {
    margin-left: -41px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
   
}
.footer-text {
    font-size: 13px;
    line-height: 30px;
    color: blue;
    width: 480px;
    max-width: 100%;
       
}
a {
    text-decoration: none !important;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
div {
    display: block;
}
element.style {
    margin-top: 34px;
    margin-top: 24px;
        margin-right: 14px;
        width: fit-content;
        display: inline-block;
        visibility: visible;
        animation-name: fadeInDown;
}
*,
::after,
::before {
    box-sizing: border-box;
}
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.copyrights {
    bottom: -25px;
    position: absolute;
    right: 15px;
    color: #2EDAF4;
    font-size: 13px;
    font-weight: 700;
}
#pro{
    width: 25px;
}
#moh{
    width: 30px;
}
.footer-links h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: #1A43A8;
    margin-top: 0;
    margin-bottom: 25px;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-links ul li {
    margin-bottom: 10px;
    display: block;
}
.footer-links ul li a {
    transition: all 0.3s;
    color: #393D48;
    font-size: 13px;
    line-height: 23px;
}
.col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.footer-links {
    margin-bottom: 15px;
}
.footer-links ul li:last-child {
    margin-bottom: 0;
}
#img7{
    width: 230px;
}
